@import "tailwindcss";

/* Variabel warna utama */
:root {
  --background: #ffffff; /* putih polos */
  --foreground: #171717;
  --brandgreen: #4CAF50;
  --hover: #1CA221;
}

input::placeholder {
  color: #9ca3af;
}

input:focus::placeholder {
  color: var(--brandgreen);
}

/* Tema utama */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Hapus efek mode gelap */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* tetap putih */
    --foreground: #171717;
  }
}

/* Body styling */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
